<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/tabs/tab5/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <label>Hero power:
    <input #heroPower />
  </label>
  <label>Hero color:
    <input #heroColor />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value, heroPower.value, heroColor.value); heroName.value=''; heroPower.value=''; heroColor.value='' ">
    add
  </button>
</div>