<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let user of users" (click)="userSeleted(user)">
      <ion-avatar slot="start">
        <img [src]="user.picture.medium">
      </ion-avatar>
      <ion-label>
        <h3>{{user.name.first}} {{user.name.last | uppercase}}</h3>
        <h4>{{user.email}}</h4>
        <p>{{user.phone}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button color="warning" (click)="mostrarHoja()">Mostrar hoja</ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Users
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-select placeholder="Select one user">
        <ion-select-option *ngFor="let user of users" value="user.title">
          {{user.title}}
        </ion-select-option>

      </ion-select>
    </ion-item>

  </ion-list>
</ion-content>