<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <h1>Usuario actual: {{currentUser}}</h1>

  <ion-list>
    <ion-item *ngFor="let user of users" (click)="seletedUser(user)">
      <ion-avatar slot="start">
        <img [src]="user.picture.medium">
      </ion-avatar>
      <ion-label>
        <h3>{{user.name.first}} {{user.name.last | uppercase}}</h3>
        <h4>{{user.email}}</h4>
        <p>{{user.phone}}</p>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <!-- <div *ngIf="auth.user | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="login()">Login with Google</button>
    <button (click)="loginEmailPassword('usuarionuevo@ejemplo.com', '1234567')">Login with email and password</button>
  </ng-template>
 -->
  <input type="file" (change)="uploadFile($event)">

  <!-- <ion-list>
    <ion-item *ngFor="let hero of heroes">
      <ion-label>
        <h3>{{hero.name}}</h3>
        <h4>{{hero.power}}</h4>
      </ion-label>
    </ion-item>
  </ion-list> -->
  
</ion-content>
